[submodule "cat-metrics"]
	path = cat-metrics
	url = https://github.com/jockey10/cat-metrics.git
[submodule "roles/cloudalchemy.node-exporter"]
	path = roles/cloudalchemy.node-exporter
	url = https://github.com/cloudalchemy/ansible-node-exporter.git
